apiVersion: apps/v1
kind: Deployment
metadata:
  name: apcb-app
spec:
  template:
    spec:
      containers:
        - name: apcb
          resources:
            requests:
              memory: "1Gi"
              cpu: "500m"
            limits:
              memory: "2Gi"
              cpu: "1000m"
